@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    @foreach (var book in ViewBag.books)
    {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@book.title</h5>
                <p class="card-text">@book.desc</p>
                <div class="card-footer row align-items-start">
                    <div class="col">
                        <p>Stock: @book.stock.ToString()</p>
                    </div>
                    <div class="col">
                        @if (book.stock == 0)
                        {
                            <button href="#" id="btnReserve" class="btn btn-primary" disabled>Reserve</button>
                        }
                        else
                        {
                            <button href="#" id="btnReserve" class="btn btn-primary">Reserve</button>
                        }
                        
                    </div>
                    
                </div>
                
                
            </div>
        </div>
    }
</div>
